@import "./variables";
@import "../components/molecules/ImageWithText.tsx/ImageWithText.module.scss";

@each $key, $value in $width-values {
	.w-#{$key} {
		width: $value;
	}
}

@each $key, $value in $height-values {
	.h-#{$key} {
		height: $value;
	}
}

@each $key, $value in $spacing-values {
	.m-#{$key} {
		margin: $value;
	}

	.mt-#{$key} {
		margin-top: $value;
	}

	.mb-#{$key} {
		margin-bottom: $value;
	}

	.ml-#{$key} {
		margin-left: $value;
	}

	.mr-#{$key} {
		margin-right: $value;
	}
}

@each $key, $value in $spacing-values {
	.p-#{$key} {
		padding: $value;
	}

	.pt-#{$key} {
		padding-top: $value;
	}

	.pb-#{$key} {
		padding-bottom: $value;
	}

	.pl-#{$key} {
		padding-left: $value;
	}

	.pr-#{$key} {
		padding-right: $value;
	}
}

@each $key, $value in $font-sizes {
	.font-size-#{$key} {
		font-size: $value;
	}
}

@each $position, $styles in $positions {
	.absolute--#{$position} {
		position: absolute;
		@each $property, $value in $styles {
			#{$property}: $value;
		}
	}
}

@each $key, $value in $rounded {
	.rounded-#{$key} {
		border-radius: $value;
	}
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

@each $key, $value in $drop-shadow-values {
	.box-shadow-#{$key} {
		box-shadow: $value;
	}
}

@each $key, $value in $justify-content {
	.justify-#{$key} {
		justify-content: $value;
	}
}

@each $key, $value in $align-items {
	.items-#{$key} {
		align-items: $value;
	}
}

@each $key, $value in $flex-direction {
	.flex-#{$key} {
		flex-direction: $value;
	}
}

@each $key, $value in $gap-values {
	.gap-#{$key} {
		gap: $value;
	}
}

@each $key, $value in $colors {
	.text-#{$key} {
		color: $value;
	}
}

@each $key, $value in $colors {
	.bg-#{$key} {
		background-color: $value;
	}
}
