@import "./variables";

// Width classes
@each $key, $value in $width-values {
	.max-w-#{$key} {
		max-width: $value;
	}
}

@each $key, $value in $width-values {
	.min-w-#{$key} {
		min-width: $value;
	}
}

@each $key, $value in $width-values {
	.w-#{$key} {
		width: $value;
	}
}

// Height classes
@each $key, $value in $height-values {
	.min-h-#{$key} {
		min-height: $value;
	}
}

@each $key, $value in $height-values {
	.h-#{$key} {
		height: $value;
	}
}

// Spacing classes
@each $key, $value in $spacing-values {
	.m-#{$key} {
		margin: $value;
	}

	.mt-#{$key} {
		margin-top: $value;
	}

	.mb-#{$key} {
		margin-bottom: $value;
	}

	.ml-#{$key} {
		margin-left: $value;
	}

	.mr-#{$key} {
		margin-right: $value;
	}
}
.m-auto {
	margin: auto;
}

@each $key, $value in $spacing-values {
	.p-#{$key} {
		padding: $value;
	}

	.pt-#{$key} {
		padding-top: $value;
	}

	.pb-#{$key} {
		padding-bottom: $value;
	}

	.pl-#{$key} {
		padding-left: $value;
	}

	.pr-#{$key} {
		padding-right: $value;
	}
}

// Font classes
@each $key, $value in $font-sizes {
	.font-size-#{$key} {
		font-size: $value;
	}
}

@each $key, $value in $font-weights {
	.font-#{$key} {
		font-weight: $value;
	}
}

@each $key, $value in $line-heights {
	.line-height-#{$key} {
		line-height: $value;
	}
}

// Position classes
@each $position, $styles in $positions {
	.absolute-#{$position} {
		position: absolute;
		@each $property, $value in $styles {
			#{$property}: $value;
		}
	}
}

// Rounded classes
@each $key, $value in $rounded {
	.rounded-#{$key} {
		border-radius: $value;
	}
}

// Other utility classes
.relative {
	position: relative;
}

.flex {
	display: flex;
}

.flex-dropdown {
	flex: 1 0 auto;
}

.filter {
	height: 223px;
	& > img {
		filter: brightness(0.5);
	}
}

@each $key, $value in $justify-content {
	.justify-#{$key} {
		justify-content: $value;
	}
}

@each $key, $value in $align-items {
	.items-#{$key} {
		align-items: $value;
	}
}

@each $key, $value in $align-items {
	.self-#{$key} {
		align-self: $value;
	}
}

@each $key, $value in $flex-direction {
	.flex-#{$key} {
		flex-direction: $value;
	}
}

// flex-wrap classes
@each $key, $value in $flex-wrap {
	.flex-wrap-#{$key} {
		flex-wrap: $value;
	}
}

@each $key, $value in $spacing-values {
	.gap-#{$key} {
		gap: $value;
	}
}

// overflow classes
@each $key, $value in $overflow-values {
	.overflow-#{$key} {
		overflow: $value;
	}
}

// Color classes
@each $key, $value in $colors {
	.text-#{$key} {
		color: $value;
	}
}

@each $key, $value in $colors {
	.bg-#{$key} {
		background-color: $value;
	}
}

//z-index
@each $key, $value in $z-index {
	.z-#{$key} {
		z-index: $value;
	}
}

// Media query
@each $breakpoint, $min-width in $breakpoints {
	@media (min-width: $min-width) {
		.#{$breakpoint}\:text-uppercase {
			text-transform: uppercase;
		}

		.#{$breakpoint}\:text-capitalize {
			text-transform: capitalize;
		}

		//font-size
		@each $key, $value in $font-sizes {
			.#{$breakpoint}\:font-size-#{$key} {
				font-size: $value;
			}
		}

		//font-weight
		@each $key, $value in $font-weights {
			.#{$breakpoint}\:font-#{$key} {
				font-weight: $value;
			}
		}

		//gap
		@each $key, $value in $spacing-values {
			.#{$breakpoint}\:gap-#{$key} {
				gap: $value;
			}
		}

		//width
		@each $key, $value in $width-values {
			.#{$breakpoint}\:w-#{$key} {
				width: $value;
			}
		}

		//max-width
		@each $key, $value in $width-values {
			.#{$breakpoint}\:max-w-#{$key} {
				max-width: $value;
			}
		}

		//height
		@each $key, $value in $height-values {
			.#{$breakpoint}\:h-#{$key} {
				height: $value;
			}
		}

		//position
		@each $position, $styles in $positions {
			.#{$breakpoint}\:absolute-#{$position} {
				position: absolute;
				@each $property, $value in $styles {
					#{$property}: $value;
				}
			}
		}

		//flex direction
		@each $key, $value in $flex-direction {
			.#{$breakpoint}\:flex-#{$key} {
				flex-direction: $value;
			}
		}

		@each $key, $value in $colors {
			.#{$breakpoint}\:bg-#{$key} {
				background-color: $value;
			}
		}

		//padding classes
		@each $key, $value in $spacing-values {
			.#{$breakpoint}\:p-#{$key} {
				padding: $value;
			}

			.#{$breakpoint}\:pt-#{$key} {
				padding-top: $value;
			}

			.#{$breakpoint}\:pb-#{$key} {
				padding-bottom: $value;
			}

			.#{$breakpoint}\:pl-#{$key} {
				padding-left: $value;
			}

			.#{$breakpoint}\:pr-#{$key} {
				padding-right: $value;
			}
		}
	}
}
