@import "./variables";
@import "../components/molecules/ImageWithText.tsx/ImageWithText.module.scss";

@for $i from 4 through 100 {
	$w: #{calc($i / 4)}rem;

	.w-#{$i} {
		width: $w;
	}
}

.w {
	&-full {
		width: 100%;
	}
	&-screen {
		width: 100vw;
	}
}

@for $i from 4 through 100 {
	$h: #{calc($i / 4)}rem;

	.h-#{$i} {
		height: $h;
	}
}

.h {
	&-full {
		height: 100%;
	}
	&-screen {
		height: 100vh;
	}
}

@each $key, $value in $spacing-values {
	.m-#{$key} {
		margin: $value;
	}

	.mt-#{$key} {
		margin-top: $value;
	}

	.mb-#{$key} {
		margin-bottom: $value;
	}

	.ml-#{$key} {
		margin-left: $value;
	}

	.mr-#{$key} {
		margin-right: $value;
	}
}

@each $key, $value in $spacing-values {
	.p-#{$key} {
		padding: $value;
	}

	.pt-#{$key} {
		padding-top: $value;
	}

	.pb-#{$key} {
		padding-bottom: $value;
	}

	.pl-#{$key} {
		padding-left: $value;
	}

	.pr-#{$key} {
		padding-right: $value;
	}
}

@each $key, $value in $font-sizes {
	.font-size-#{$key} {
		font-size: $value;
	}
}

@each $position, $styles in $positions {
	.absolute--#{$position} {
		position: absolute;
		@each $property, $value in $styles {
			#{$property}: $value;
		}
	}
}

@each $key, $value in $rounded {
	.rounded-#{$key} {
		border-radius: $value;
	}
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

@each $key, $value in $drop-shadow-values {
	.box-shadow-#{$key} {
		box-shadow: $value;
	}
}
