@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font family
$font-family: "Montserrat", sans-serif;

// Colors
$colors: (
	primary: #ff6060,
	secondary: #f6f6f6,
	light: #ffffff,
	dark: #000000,
);

//width
$width-values: (
	1: 0.25rem,
	// 4px
	2: 0.5rem,
	// 8px
	3: 0.75rem,
	// 12px
	4: 1rem,
	// 16px
	5: 1.25rem,
	// 20px
	6: 1.5rem,
	// 24px
	7: 1.75rem,
	// 28px
	8: 2rem,
	// 32px
	9: 2.25rem,
	// 36px
	10: 2.5rem,
	// 40px
	11: 2.75rem,
	// 44px
	12: 3rem,
	// 48px
	13: 3.25rem,
	// 52px
	14: 3.5rem,
	// 56px
	15: 3.75rem,
	// 60px
	16: 4rem,
	// 64px
	tag: 7.1875rem,
	// 115px
	footer: 6.5rem,
	//122px
	dropdown: 36.375rem,
	//582px
	custom: 21.25rem,
	//340px
	custom2: 26rem,
	//415px
	aboutDropdown: 64.5rem,
	//1032px
	full: 100%,
	screen: 100vw,
	auto: auto,
);

//height
$height-values: (
	1: 0.25rem,
	// 4px
	2: 0.5rem,
	// 8px
	3: 0.75rem,
	// 12px
	4: 1rem,
	// 16px
	5: 1.25rem,
	// 20px
	6: 1.5rem,
	// 24px
	7: 1.75rem,
	// 28px
	8: 2rem,
	// 32px
	9: 2.25rem,
	// 36px
	10: 2.5rem,
	// 40px
	11: 2.75rem,
	// 44px
	12: 3rem,
	// 48px
	13: 3.25rem,
	// 52px
	14: 3.5rem,
	// 56px
	15: 3.75rem,
	// 60px
	16: 4rem,
	// 64px
	custom: 21.25rem,
	//340px
	custom2: 26rem,
	//415px
	full: 100%,
	screen: 100vh,
	auto: auto,
);

// Font sizes
$font-sizes: (
	xs: 12px,
	sm: 14px,
	base: 16px,
	lg: 18px,
	xl: 20px,
	2xl: 24px,
	3xl: 30px,
	4xl: 48px,
	custom: 18rem,
);

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weights: (
	light: $font-weight-light,
	regular: $font-weight-regular,
	medium: $font-weight-medium,
	semibold: $font-weight-semibold,
	bold: $font-weight-bold,
);

// Line heights
$line-heights: (
	none: 1,
	tight: 1.25,
	base: 1.5,
	loose: 2,
	custom: 26px,
);

// Spacing
$spacing-values: (
	1: 0.25rem,
	// 4px
	2: 0.5rem,
	// 8px
	3: 0.75rem,
	// 12px
	4: 1rem,
	// 16px
	5: 1.25rem,
	// 20px
	6: 1.5rem,
	// 24px
	7: 1.75rem,
	// 28px
	8: 2rem,
	// 32px
	9: 2.25rem,
	// 36px
	10: 2.5rem,
	// 40px
	11: 2.75rem,
	// 44px
	12: 3rem,
	// 48px
	dropdown: 250px,
	custom: 8.7rem,
	// 139px
);

// Variables pour les coins arrondis
$rounded: (
	none: 0,
	sm: 0.25rem,
	// 4px
	md: 0.5rem,
	// 8px
	lg: 0.75rem,
	// 12px
	xl: 1rem,
	// 16px
	xxl: 1.5rem,
	// 24px
	xxxl: 2rem,
	// 32px
	custom: 3rem,
	// 48px
	full: 9999px,
	// 9999px
);

//Positions
$positions: (
	center: (
		top: 50%,
		left: 50%,
		transform: translate(-50%, -50%),
		text-align: center,
	),
	top-left: (
		top: 0,
		left: 0,
		transform: none,
	),
	top-right: (
		top: 0,
		right: 0,
		transform: none,
	),
	bottom-left: (
		bottom: 0,
		left: 0,
		transform: none,
	),
	bottom-right: (
		bottom: 0,
		right: 0,
		transform: none,
	),
	bottom-center: (
		bottom: 0,
		left: 50%,
		transform: translateX(-50%),
	),
);

// justify-content
$justify-content: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
	evenly: space-evenly,
);

//align-items
$align-items: (
	start: flex-start,
	end: flex-end,
	center: center,
	baseline: baseline,
	stretch: stretch,
);

//flex-direction
$flex-direction: (
	row: row,
	row-reverse: row-reverse,
	column: column,
	column-reverse: column-reverse,
);

//gap
$gap-values: (
	1: 0.25rem,
	// 4px
	2: 0.5rem,
	// 8px
	3: 0.75rem,
	// 12px
	4: 1rem,
	// 16px
	5: 1.25rem,
	// 20px
	6: 1.5rem,
	// 24px
	7: 1.75rem,
	// 28px
	8: 2rem,
	// 32px
	9: 2.25rem,
	// 36px
	10: 2.5rem,
	// 40px
	11: 2.75rem,
	// 44px
	12: 3rem,
	// 48px
	13: 3.25rem,
	// 52px
	14: 3.5rem,
	// 56px
);

//overflow
$overflow-values: (
	visible: visible,
	hidden: hidden,
	scroll: scroll,
	auto: auto,
);

//align-self
$align-self: (
	start: flex-start,
	end: flex-end,
	center: center,
	baseline: baseline,
	stretch: stretch,
);
