@use "globals";
@import "./variables";

/* Reset Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 45px;
	font-family: $font-family;
	list-style: none;
}

header,
main {
	margin: 0px 100px; // Change this to the margin you want
}
