@use "globals";
@import "./variables";

/* Reset Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	margin-top: 45px;
	font-family: $font-family;
}

header,
main {
	margin: 0 6rem;
}

@media screen and (max-width: 768px) {
	header,
	main {
		margin: 0px 20px;
	}
}
